## Data Cleaning


### Imported Libraries

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization

In [21]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

### Import the Dataset

In [22]:
aviationdata = pd.read_csv('../Data/AviationDataUP.csv')
aviationdata.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20161117X64217,Accident,WPR17WA022,14/11/2016,"Winton, New Zealand",New Zealand,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,MANEUVERING,Foreign,NaN
1,20161116X13203,Accident,CEN17WA040,14/11/2016,"Albrook, Panama",Panama,NaN,NaN,MPMG,Marcos A. Gelabert Intl.,...,NaN,NaN,NaN,NaN,NaN,2.0,VMC,LANDING,Foreign,NaN
2,20161116X62135,Accident,CEN17LA041,13/11/2016,"Port Allen, LA",United States,30.532500,-91.3150,LA46,OMNI,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Preliminary,22/11/2016
3,20161114X41943,Accident,WPR17LA020,12/11/2016,"Taylor, AZ",United States,34.454722,-110.0575,NaN,NaN,...,Instructional,NaN,NaN,NaN,NaN,2.0,VMC,MANEUVERING,Preliminary,22/11/2016
4,20161116X04207,Accident,CEN17LA039,12/11/2016,"Pleasanton, TX",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,NaN,1.0,NaN,1.0,VMC,NaN,Preliminary,16/11/2016

### Rename columns, removing '.'

In [23]:
aviationdata.columns = ['EventID', 'InvestigationType', 'AccidentNumber', 'EventDate', 'Location', 'Country', 'Latitude',
                       'Longitude', 'AirportCode', 'AirportName', 'InjurySeverity', 'AircraftDamage', 'AircraftCategory',
                       'RegistrationNumber', 'Make', 'Model', 'AmateurBuilt', 'NumberOfEngines', 'EngineType', 'FARDescription'
                       , 'Schedule', 'PurposeOfFlight', 'AirCarrier', 'TotalFatalInjuries', 'TotalSeriousInjuries',
                       'TotalMinorInjuries', 'TotalUninjured', 'WeatherCondition', 'BroadPhaseOfFlight', 'ReportStatus',
                       'PublicationDate']
aviationdata.head()

,EventID,InvestigationType,AccidentNumber,EventDate,Location,Country,Latitude,Longitude,AirportCode,AirportName,...,PurposeOfFlight,AirCarrier,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,WeatherCondition,BroadPhaseOfFlight,ReportStatus,PublicationDate
0,20161117X64217,Accident,WPR17WA022,14/11/2016,"Winton, New Zealand",New Zealand,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,MANEUVERING,Foreign,NaN
1,20161116X13203,Accident,CEN17WA040,14/11/2016,"Albrook, Panama",Panama,NaN,NaN,MPMG,Marcos A. Gelabert Intl.,...,NaN,NaN,NaN,NaN,NaN,2.0,VMC,LANDING,Foreign,NaN
2,20161116X62135,Accident,CEN17LA041,13/11/2016,"Port Allen, LA",United States,30.532500,-91.3150,LA46,OMNI,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Preliminary,22/11/2016
3,20161114X41943,Accident,WPR17LA020,12/11/2016,"Taylor, AZ",United States,34.454722,-110.0575,NaN,NaN,...,Instructional,NaN,NaN,NaN,NaN,2.0,VMC,MANEUVERING,Preliminary,22/11/2016
4,20161116X04207,Accident,CEN17LA039,12/11/2016,"Pleasanton, TX",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,NaN,1.0,NaN,1.0,VMC,NaN,Preliminary,16/11/2016

In [24]:
print(aviationdata.dtypes)

EventID                  object
InvestigationType        object
AccidentNumber           object
EventDate                object
Location                 object
Country                  object
Latitude                float64
Longitude               float64
AirportCode              object
AirportName              object
InjurySeverity           object
AircraftDamage           object
AircraftCategory         object
RegistrationNumber       object
Make                     object
Model                    object
AmateurBuilt             object
NumberOfEngines         float64
EngineType               object
FARDescription           object
Schedule                 object
PurposeOfFlight          object
AirCarrier               object
TotalFatalInjuries      float64
TotalSeriousInjuries    float64
TotalMinorInjuries      float64
TotalUninjured          float64
WeatherCondition         object
BroadPhaseOfFlight       object
ReportStatus             object
PublicationDate          object
dtype: object

In [25]:
# Check shape of data
aviationdata.shape

(79141, 31)

### Filling in null values
> Only for important columns

#### Fill in null values in WeatherCondition with 'UNK',  BroadPhaseOfFlight with 'UNKNOWN', AircraftDamage with 'Unknown', PurposeOfFlight with 'Unknown', EngineType with 'Unknown'

In [26]:
aviationdata["WeatherCondition"].fillna("UNK", inplace = True)
aviationdata["BroadPhaseOfFlight"].fillna("UNKNOWN", inplace = True) 
aviationdata["AircraftDamage"].fillna("Unknown", inplace = True) 
aviationdata["PurposeOfFlight"].fillna("Unknown", inplace = True) 
aviationdata["EngineType"].fillna("Unknown", inplace = True)

#### Fill in null values in TotalFatalInjuries, TotalSeriousInjuries, TotalMinorInjuries, TotalUninjured with 0

In [27]:
aviationdata["TotalFatalInjuries"].fillna(value = 0, inplace = True) 
aviationdata["TotalSeriousInjuries"].fillna(value = 0, inplace = True) 
aviationdata["TotalMinorInjuries"].fillna(value = 0, inplace = True) 
aviationdata["TotalUninjured"].fillna(value = 0, inplace = True)

### Create new columns

#### TotalInjuries = Fatal+Serious+Minor

In [28]:
aviationdata["TotalInjuries"] = aviationdata["TotalFatalInjuries"] + aviationdata["TotalSeriousInjuries"] 
+ aviationdata["TotalMinorInjuries"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
79136    0.0
79137    0.0
79138    0.0
79139    0.0
79140    0.0
Name: TotalMinorInjuries, Length: 79141, dtype: float64

#### Extract month and year out of EventDate

In [29]:
aviationdata["EventDate"] = pd.to_datetime(aviationdata["EventDate"], errors='coerce')

aviationdata["Month"] = aviationdata["EventDate"].dt.month
aviationdata["Year"] = aviationdata["EventDate"].dt.year

In [30]:
aviationdata.describe()

,Latitude,Longitude,NumberOfEngines,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,TotalInjuries,Month,Year
count,25614.000000,25605.000000,75056.000000,79141.000000,79141.000000,79141.000000,79141.000000,79141.000000,79141.000000,79141.000000
mean,37.703398,-93.777278,1.147970,0.575467,0.215451,0.347544,4.883954,0.790917,6.489759,1996.712968
std,12.104792,39.207853,0.453804,5.255951,1.140903,2.325257,26.926860,5.561305,3.216053,10.087592
min,-78.016945,-178.676111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1948.000000
25%,33.384166,-114.997222,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1988.000000
50%,38.182916,-94.498055,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,7.000000,1996.000000
75%,42.568125,-81.731667,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,9.000000,2005.000000
max,89.218056,177.557778,18.000000,349.000000,111.000000,380.000000,699.000000,349.000000,12.000000,2016.000000

### Check for null values

In [31]:
print(aviationdata.isnull().any(), "\n")

EventID                 False
InvestigationType       False
AccidentNumber          False
EventDate               False
Location                 True
Country                  True
Latitude                 True
Longitude                True
AirportCode              True
AirportName              True
InjurySeverity          False
AircraftDamage          False
AircraftCategory         True
RegistrationNumber       True
Make                     True
Model                    True
AmateurBuilt             True
NumberOfEngines          True
EngineType              False
FARDescription           True
Schedule                 True
PurposeOfFlight         False
AirCarrier               True
TotalFatalInjuries      False
TotalSeriousInjuries    False
TotalMinorInjuries      False
TotalUninjured          False
WeatherCondition        False
BroadPhaseOfFlight      False
ReportStatus            False
PublicationDate          True
TotalInjuries           False
Month                   False
Year                    False
dtype: bool

### Extracting categorical data
Converting object columns to category.

In [32]:
for col in aviationdata:
    if aviationdata[col].dtype == 'object':
        aviationdata[col] = aviationdata[col].astype('category')

In [33]:
# Checking types
print(aviationdata.dtypes)

EventID                       category
InvestigationType             category
AccidentNumber                category
EventDate               datetime64[ns]
Location                      category
Country                       category
Latitude                       float64
Longitude                      float64
AirportCode                   category
AirportName                   category
InjurySeverity                category
AircraftDamage                category
AircraftCategory              category
RegistrationNumber            category
Make                          category
Model                         category
AmateurBuilt                  category
NumberOfEngines                float64
EngineType                    category
FARDescription                category
Schedule                      category
PurposeOfFlight               category
AirCarrier                    category
TotalFatalInjuries             float64
TotalSeriousInjuries           float64
TotalMinorInjuries             float64
TotalUninjured                 float64
WeatherCondition              category
BroadPhaseOfFlight            category
ReportStatus                  category
PublicationDate               category
TotalInjuries                  float64
Month                            int64
Year                             int64
dtype: object

### Creating new dataset with needed columns

In [34]:
aviation = pd.DataFrame(aviationdata[["WeatherCondition", "BroadPhaseOfFlight", "AircraftDamage", "InvestigationType","PurposeOfFlight",
                                     "EngineType", "TotalFatalInjuries", "TotalSeriousInjuries", "TotalMinorInjuries",
                                     "TotalUninjured", "TotalInjuries", "EventDate", "Month", "Year"]])

### Final Dataset

In [35]:
aviation

,WeatherCondition,BroadPhaseOfFlight,AircraftDamage,InvestigationType,PurposeOfFlight,EngineType,TotalFatalInjuries,TotalSeriousInjuries,TotalMinorInjuries,TotalUninjured,TotalInjuries,EventDate,Month,Year
0,UNK,MANEUVERING,Substantial,Accident,Unknown,Turbo Shaft,0.0,0.0,0.0,1.0,0.0,2016-11-14,11,2016
1,VMC,LANDING,Substantial,Accident,Unknown,Unknown,0.0,0.0,0.0,2.0,0.0,2016-11-14,11,2016
2,VMC,TAKEOFF,Substantial,Accident,Personal,Reciprocating,0.0,0.0,0.0,1.0,0.0,2016-11-13,11,2016
3,VMC,MANEUVERING,Substantial,Accident,Instructional,Reciprocating,0.0,0.0,0.0,2.0,0.0,2016-12-11,12,2016
4,VMC,UNKNOWN,Substantial,Accident,Personal,Reciprocating,0.0,1.0,0.0,1.0,1.0,2016-12-11,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79136,VMC,APPROACH,Destroyed,Accident,Personal,Unknown,1.0,2.0,0.0,0.0,3.0,1979-02-08,2,1979
79137,IMC,CRUISE,Destroyed,Accident,Personal,Reciprocating,2.0,0.0,0.0,0.0,2.0,1977-06-19,6,1977
79138,IMC,CRUISE,Destroyed,Accident,Personal,Reciprocating,3.0,0.0,0.0,0.0,3.0,1974-08-30,8,1974
79139,UNK,UNKNOWN,Destroyed,Accident,Personal,Reciprocating,4.0,0.0,0.0,0.0,4.0,1962-07-19,7,1962
79140,UNK,CRUISE,Destroyed,Accident,Personal,Reciprocating,2.0,0.0,0.0,0.0,2.0,1948-10-24,10,1948

### Export dataset as .csv file

In [36]:
aviation.to_csv("../Data/AviationFinal.csv", index = 0)